/* Minimal va engil CSS */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f0f8ff, #e6f7ff);
  color: #333;
  box-sizing: border-box;
}
.overlay {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: url("./assets/images/oziq-ovqat.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dark-layer {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.451);
}

.catalog {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  margin-block: 20px;
  border-radius: 5px;
  background: #f3fcffb3;
  backdrop-filter: blur(7px);
  box-shadow: 0 0 10px rgba(238, 250, 255, 0.785);
}
.product {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}
.product:last-child {
  border-bottom: none;
}
.images img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.prices {
  margin: 10px 0;
  line-height: 1.4;
}
.benefits {
  margin: 10px 0;
  font-size: 0.9em;
  color: #555;
}
.contact {
  text-align: center;
  margin-top: 20px;
}
.contact a {
  text-decoration: none;
  color: #0066cc;
  font-weight: bold;
  font-size: 24px;
}

@media (max-width: 880px) {
  .catalog {
    margin: 20px;
  }
}

@media (max-width: 550px) {
  .catalog {
    margin: 15px;
  }

  .title {
    text-align: center;
    font-size: 26px;
  }

  .second-title {
    font-size: 20px;
  }

  .images img {
    width: 150px;
    height: 150px;
  }
  .contact a {
    font-size: 16px;
  }
}
